body{
  background: url(index.png),url(index.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar-default {
	background:transparent;
    border:none;
	position: center;
    width: 100%;
    left: 0;
    text-align: center;
    padding:2px;
    margin-top:-5px;
}
.navbar-default .navbar-nav > li > a {
	color:white;
	font-size: 15px; 
	text-align: center;
}
.navbar-default .navbar-nav > li > a:active {
    color:white;  
}
.navbar h2 {
    color:white;
    font-family:'Droid Sans', sans-serif;
    font-size:18px;
}
h4 {
    color:black;
    font-size:18px;
    font-family:'Droid Sans', sans-serif;
}
img {
    height:60px;
    margin-right:-20px;
}